body
{
  font-family: 'Gaegu', cursive;
  background: #ab91c0;
}

.header_div
  {
  
  background: #baa3b4;
  color: rgb(0, 0, 0); 
  }

  .header_div p{
    font-family: 'Zen Kurenaido', sans-serif;
    letter-spacing: 3px;
    font-size: 31px;
    font-weight: bold;
  }
  .main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bold;
    letter-spacing: 4px;
  }

  
  .copy_right_footer {
   position: fixed;
   color: #000000;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #ff8ff2;
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(205, 141, 141);
}
